name: CI
#run-name: ${{ github.actor }} triggered
on:
    push:
        branches:
            - '**'
        #tags-ignore:
        #    - '**'
    pull_request:
jobs:
    build:
        name: 'Build'
        runs-on: windows-2019
        steps:
            - uses: actions/checkout@v4
            - name: Print Building
              run: echo 'Building'
    test-unit-tests:
        name: 'Test: Unit Tests'
        needs: build
        runs-on: windows-2019
        steps:
            - name: Print Testing
              run: echo 'Testing'
    scan-sonarqube:
        name: 'Scan: SonarQube'
        needs: test-unit-tests
        runs-on: windows-2019
        steps:
            - name: Print Scanning
              run: echo 'Scanning'