name: CI
#run-name: ${{ github.actor }} triggered
on: [push]
jobs:
    build:
        name: 'Build'
        runs-on: windows-2019
        steps:
            - uses: actions/checkout@v4
            - name: Print Building
              run: echo 'Building'
    test-unit-test:
        name: 'Test: Unit Tests'
        needs: build
        runs-on: windows-2019
        steps:
            - name: Print Testing
              run: echo 'Testing'